node_modules
parts.html

#Hardhat files
cache
artifacts
typechain/*.js
typechain/*.ts
typechain/factories/*
!typechain/factories/RadaToken__factory.ts
!typechain/factories/RadaDescriptor__factory.ts
!typechain/factories/RadaSeeder__factory.ts
.openzeppelin

# Coverage result files
coverage/
coverage.json

abi/@openzeppelin
abi/contracts/base
abi/contracts/external
abi/contracts/governance
abi/contracts/interfaces
abi/contracts/proxies
abi/contracts/test
.env